@model DatabaseFirstApp.Models.MService

@{
    ViewBag.Title = "Delete";
}

<<a class="admin-overlay" id="logout" href="/MenServices/Logout">
    <img src="~/Images/logouticon.png" height="40px" width="40px" />
</a>
<div id="bodyServcs">
    <div class="dashHead">
        Are you sure you want to delete this?
    </div>
    <div class="cust-holder">

        <div class="cust-details">

            <div class="detail">
                <table>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ServiceName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ServiceName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ServiceDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ServiceDescription)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Cost)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Image)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.Image)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" />
                                </div>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Back to List", "Index")
                        </td>

                    </tr>
                </table>
            </div>

        </div>

    </div>

</div>
